body {
  margin-left: 250px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 15px;
  background-color: #DDF9C1;
}

/* .main_header {
background-color: lightblue;
border: 3px solid red;
border-radius: 10px;
width: 650px;
height: 50px;

} */


.header {
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 10px;
  background-color: lightblue;
  width: 650px;
  height: 50px;
  padding:12px;
  margin: 10px;
}

#text {
  border-radius: 5px;
  width: 300px;
}

#button,#completed,#notcomplted,#all {
  border-radius: 5px;
}
#button {
  margin-right: 25px;
}
.each_node {
   position: relative;
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 10px;
  background-color: yellow;
  width: 650px;
  height: 50px;
  padding:12px;
  margin: 10px;
  }


  .close {
    margin: 5px;
  position: absolute;
  top: 0px;
  right: 25px;
  box-sizing: border-box;
  /* background-color: lightgray; */
  padding: 2px;
  width: 30px;
  height: 35px;
  text-align: center;
  font-size: 25px;
}

.tick {
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 55px;
  box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: lightgray; */
  padding: 2px;
  width: 30px;
  height: 35px;
  text-align: center;
  font-size: 25px;
}
.checked {
  text-decoration: line-through;
}
